################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebServiceXmlParser/.vs/WebServiceXmlParser/v16
/WebServiceXmlParser/obj
/WebServiceXmlParser/bin/Debug/netcoreapp3.0
/.vs
